<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="driver" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:mem:db-test" />
        <property name="username" value="Chizuru" />
    </properties>
    <typeAliases>
        <typeAlias alias="Bucket" type="com.chigix.resserver.entity.Bucket" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/chigix/resserver/mybatis/BucketMapper.xml"/>
        <mapper resource="com/chigix/resserver/mybatis/ResourceMapper.xml"/>
        <mapper resource="com/chigix/resserver/mybatis/ChunkMapper.xml"/>
        <mapper resource="com/chigix/resserver/mybatis/DbInitMapper.xml" />
    </mappers>
</configuration>