<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chigix.resserver.mybatis.BucketMapper">
    <select id="selectAll" resultType="java.util.Map" resultSetType="FORWARD_ONLY">
        select * from Bucket
        <if test="_parameter != null">
            <if test="_parameter.containsKey('continuation')">
                WHERE "ID" >= (SELECT "ID" FROM Bucket WHERE uuid = #{continuation} LIMIT 1)
            </if>
            <choose>
                <when test="_parameter.containsKey('limit')">LIMIT #{limit}</when>
                <otherwise>LIMIT 1000</otherwise>
            </choose>
        </if>
    </select>
    <select id="selectByName" resultType="java.util.Map">
        select * FROM Bucket WHERE "NAME"=#{name} LIMIT 1;
    </select>
    <select id="selectByUUID" resultType="java.util.Map">
        select * FROM Bucket WHERE UUID=#{uuid} LIMIT 1;
    </select>
    <insert id="insert">
        INSERT INTO BUCKET (UUID, "NAME", CREATION_TIME) 
        VALUES (#{uuid}, #{name}, #{created_at});
    </insert>
    <delete id="deleteByName">
        DELETE FROM BUCKET WHERE "NAME" = #{name};
    </delete>
    <delete id="deleteByUuid">
        DELETE FROM BUCKET WHERE "UUID" = #{uuid};
    </delete>
</mapper>