<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chigix.resserver.mybatis.ResourceMapper">
    <resultMap id="resourceResultMap" type="com.chigix.resserver.mybatis.dto.ResourceBuilder">
        <result property="metas" column="meta_data" />
        <result property="resourceKey" column="key"  />
        <result property="resourceType" column="type"  />
        <result property="keyHash" column="keyhash"  />
        <result property="versionId" column="version_id"  />
        <result property="bucketUuid" column="bucket_uuid"  />
        <result property="lastModified" column="last_modified"  />
        <result property="etag" column="etag"  />
        <result property="size" column="size"  />
    </resultMap>
    <select id="selectAll"  resultType="java.util.Map"   resultSetType="FORWARD_ONLY">
        SELECT * FROM resource
    </select>
    <select id="selectAllSubResources"  resultType="java.util.Map" resultSetType="FORWARD_ONLY">
        SELECT * FROM SUBRESOURCE
    </select>
    <select id="selectAllByBucketName" resultMap="resourceResultMap" resultSetType="FORWARD_ONLY">
        select * from resource
        WHERE "bucket_uuid" = (SELECT bucket.UUID FROM bucket  WHERE bucket."NAME" =  #{bucketName} LIMIT 1)
        <if test="_parameter.containsKey('continuation')">
            AND "ID" >= (SELECT RESOURCE.ID FROM RESOURCE WHERE RESOURCE."keyhash" = #{continuation} LIMIT 1)
        </if>
        LIMIT #{limit}
    </select>
    <select id="selectByKeyhash" resultMap="resourceResultMap">
        select * from resource
        WHERE "keyhash" = #{keyhash}
        LIMIT 1
    </select>
    <select id="selectByBucketName_Key" resultMap="resourceResultMap">
        select * from resource
        WHERE "bucket_uuid" = (SELECT bucket.UUID FROM bucket  WHERE bucket."NAME" =  #{bucketName} LIMIT 1)
        AND "key" = #{resourceKey}
        LIMIT 1
    </select>
    <select id="selectByKeyhash_Version"  resultMap="resourceResultMap">
        select * from resource
        WHERE "keyhash" = #{keyhash}
        AND "version_id" = #{versionId}
        LIMIT 1
    </select>
    <select id="selectByUploadId" resultMap="resourceResultMap">
        SELECT * FROM resource
        WHERE "upload_id" = #{upload_id}
        LIMIT 1
    </select>
    <select id="selectSubResourceByKeyEtagParent"  resultMap="resourceResultMap">
        select * from subresource
        WHERE  "key" = #{resourceKey}
        AND "parent_version_id" = #{parent_version_id}
        AND "etag" = #{etag}
        LIMIT 1
    </select>
    <select id="selectSubResourcesByParentVersionId" resultMap="resourceResultMap" resultSetType="FORWARD_ONLY">
        SELECT * FROM subresource
        WHERE "parent_version_id" = #{parent_version_id}
        <if test="_parameter.containsKey('continuation')">
            AND "ID" >= (SELECT subresource.ID FROM subresource
            WHERE subresource."version_id" = #{continuation} 
            AND subresource."parent_version_id" = #{parent_version_id}
            LIMIT 1)
        </if>
        LIMIT 1000
    </select>
    <sql id="resourceColumns">
        "key", "keyhash", "bucket_uuid", "type", "etag", 
        "last_modified", "size", "storage_class", "version_id", "meta_data"
    </sql>
    <sql id="resourceValues">
        #{resourceDto.bean.key}, #{resourceDto.keyHash}, #{resourceDto.bucket.Uuid}, #{resourceDto.type}, #{resourceDto.bean.ETag}, 
        #{resourceDto.lastModified}, #{resourceDto.bean.size}, #{resourceDto.bean.storageClass}, #{resourceDto.bean.versionId}, #{resourceDto.metaData}
    </sql>
    <sql id="subResourceColumns">
        ("key", "parent_version_id", "type", "etag", 
        "last_modified", "size", "storage_class", "version_id") 
    </sql>
    <sql id="subResourceValues">
        (#{bean.key}, #{parentResource.versionId}, #{type}, #{bean.ETag}, 
        #{lastModified}, #{bean.size}, #{bean.storageClass}, #{bean.versionId})
    </sql>
    <insert id="insertResource">
        INSERT INTO RESOURCE
        (<include refid="resourceColumns"></include>)
        VALUES
        (<include refid="resourceValues"></include>)
    </insert>
    <insert id="insertSubResource">
        INSERT INTO SUBRESOURCE
        <include refid="subResourceColumns"></include>
        VALUES
        <include refid="subResourceValues"></include>
    </insert>
    <update id="update">
        UPDATE RESOURCE SET
        "etag" = #{bean.ETag},
        "last_modified" = #{lastModified},
        "size" = #{bean.size},
        "storage_class" = #{bean.storageClass},
        "version_id" = #{bean.versionId},
        "meta_data" = #{metaData}
        WHERE "keyhash" = #{keyHash}
    </update>
    <update id="mergeResource">
        MERGE INTO RESOURCE
        (<include refid="resourceColumns"></include>)
        KEY("keyhash") VALUES
        (<include refid="resourceValues"></include>)
    </update>
    <update id="mergeUploadingResource">
        MERGE INTO RESOURCE
        (<include refid="resourceColumns"></include>, "upload_id")
        KEY("upload_id") VALUES
        (<include refid="resourceValues"></include>, #{uploadDto.bean.uploadId})
    </update>
    <delete id="delete">
        DELETE FROM RESOURCE 
        WHERE "bucket_uuid" = (SELECT bucket.UUID FROM bucket  WHERE bucket."NAME" =  #{bucket.name} LIMIT 1)
        AND "key" = #{key}
    </delete>
    <delete id="deleteByKeyhash">
        DELETE FROM RESOURCE WHERE "keyhash" = #{keyhash}
    </delete>
    <delete id="deleteByUploadId">
        DELETE FROM resource WHERE "upload_id" = #{upload_id}
    </delete>
</mapper>